.letMe {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 320px;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
}

.letMe img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  background-color: grey;
}

.letMe p {
  flex: 3;
  text-align: left;
  padding-left: 8px;
  color: var(--dark-color);
  margin-top: 0px;
}