:root {
  --light-color: #d28cb0;
  --primary-color: #af5784;
  --dark-color: #69113e;
  --darker-color: #460024;
}

ul,
li {
  list-style: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}



.container {
  max-width: 1200px;
  margin: auto;
}

body {
  background-color: #fafafa;
}

.card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  margin: 30px 0;
  height: 600px;
  display: flex;
}

.whyCreate,
.goCreate {
  flex: 1;
  text-align: center;
}

.separator {
  width: 76%;
  border: 1px solid var(--light-color);
  margin: 0 auto 30px auto;
}

.form-signup {
  display: flex;
  flex-direction: column;
}